@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Boogaloo&family=Londrina+Solid&family=Kalam:wght@700&family=Permanent+Marker&display=swap');


/* BS OR = Bootstrap Override */

/*---------------General Styles---------------*/

* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

section {
    width: 90vw;
    padding-top: 20px;
    margin: auto;
}

/* BS OR */
.container {
    max-width: 80vw;
    margin: auto;
    padding: 0;
}

aside {
    /*position: relative;*/
    font-size: .85rem;
    text-align: justify;
    border: 3px double #181cb3;
    padding: 10px;
    margin: 10px;
    /*flex-shrink: 2;*/
    /*box-sizing: border-box;*/
    background-color: #ddd;

}

h1, h2 {
    font-family: "Boogaloo", sans-serif;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

h1 {
    font-size: 1.9rem;
    color: #181cb3;
}

h2 {
    font-size: 1.5rem;
    color: black;
}

hr {
    border: 2px solid #aaa;
    margin-bottom: 30px;
}


/* styles for tablet */
@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
    }

    section {
        /*width: 95vw;*/
        padding-top: 30px;
    }

    /* BS OR */
    container {
        /*max-width: 90vw;*/
    }

    h1, h2 {
        text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    aside {
        font-size: .9rem;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    body {
        font-size: 1.2rem;
    }

    section {
        width: 90vw;
        max-width: 1450px;
        margin: auto;
    }

    /* BS OR */
    container {
        width: 80vw;
    }

    h1 {
        font-size: 2.3rem;

    }

    h2 {
        font-size: 1.9rem;

    }

    aside {
        font-size: .95rem;
    }
}

/*---------------Header---------------*/

.title {
    font-family: "Londrina Solid", sans-serif;
    font-size: 35px;
    font-style: italic;
    color: #d9112d;
    height: 43px;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 3px 2px rgba(120,120,120,0.8);
}

.subtitle {
    font-family: "Boogaloo", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #181cb3;
    letter-spacing: .09rem;
    height:22px;
}

.tag-line {
    font-family: "Kalam", sans-serif;
    font-size: .65em;
}

.logo-container {
    text-align: center;
    height: 110px;
}

.logo-wrapper {
    padding-bottom: 20px;
    position: fixed;
    top: 0;
}

/* BS OR */
.navbar {
    /* do not change the first six! */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 119px;
    margin: 0 auto;
}

.nav-wrapper {
    position: relative;
    border-bottom: 2px solid black;
}

a.nav-link {
    font-family: "Boogaloo", sans-serif;
    font-size: 22px;
    font-weight: 700;
    /*background-color: #f6f3c8;*/
    /*-webkit-text-stroke: .01rem red;*/
    text-shadow: 2px 2px 1px rgba(120,120,120,0.5);
    background-color: #88bbda;
}

.navbar-light .navbar-nav .nav-link  {
    color: black;
    border-radius: 8px;
}


/* This needs work. I am unhappy with the toggled nav. We need a background color for the entire area and then can
change the hove value to somewhat transparent*/
.navbar-light .navbar-nav .nav-link:hover {
    background: rgba(255,255,255,1);
    /*background-color: #88bbda;*/
    border-radius: 8px;
    color: #181cb3;
}


/* BS OR */
button.navbar-toggler {
    margin-bottom: 40px;
    background: rgba(255,255,255,.6);
}


/* styles for tablet */
@media (min-width: 768px) {

}

/* styles for desktop */
@media (min-width: 992px) {
    /* BS OR */
    .navbar {
        max-width: 1600px;
    }

    a.nav-link {
        font-size: 24px;
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
        background-color: #88bbda;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        background: rgba(255, 255, 255, .3);
    }
}

/*---------------Home---------------*/

.home p {
    text-align: justify;
}

#home-article-container{
    width: 100%;
    /*background: yellow;*/
}
#home-aside-container{
    float: right;
    width: 200px;
    padding: 0;
}

.lg-car-img {
    width: 150px;
    margin-bottom: 10px;
}

/* styles for tablet */
@media (min-width: 768px) {
    #home-aside-container{
        width: 300px;
    }

    .lg-car-img {
        width: 250px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #home-aside-container {
        width: 350px;
    }

    .lg-car-img {
        width: 300px;
    }
}


/*---------------Showroom---------------*/

.car-img {
    width: 150px;
    border: 1px solid black;
    margin: 0 10px 0 0;
    float: left;
}

div.col {
    vertical-align: top;
    text-align: justify;
    margin-bottom: 10px;
}

/* styles for tablet */
@media (min-width: 768px) {
    .car-img {
        width: 175px;
    }

}

/* styles for desktop */
@media (min-width: 992px) {
    .car-img {
        /*height: 300px;*/
        width: 200px;
    }

}


/*---------------Library---------------*/

.book-img {
    max-width: 125px;
    max-height: 125px;
    padding: 0 10px 0 0;
    float: left;
}

/* styles for tablet */
@media (min-width: 768px) {
    .book-img {
        width: 150px;
        max-width: unset;
        max-height: unset;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    .book-img {
        width: 175px;
    }

}


